# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Java
*.class
*.jar
!gradle-wrapper.jar
*.war
*.ear
*.nar
hs_err_pid*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime
out/
target/ 
/.vscode/
